UF1/XML/practica7/Ex1.dtd

<!ELEMENT universidad (departamento+)>
<!ATTLIST universidad nom CDATA #REQUIRED>
<!ELEMENT departamento (nom, direccion?, personal+)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT direccion (nom*, correo, despacho?)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT despacho (#PCDATA)>
<!ELEMENT personal (nom*, correo*, despacho?, telefono?)>
<!ELEMENT telefono (#PCDATA)>