UF1/XML/practica7/Ex2.dtd

<!ELEMENT comptes (compte+)>

<!ELEMENT compte (copropietari+, xecs*,estalvis?)>
<!ELEMENT copropietari (#PCDATA)>

<!ELEMENT xecs (saldo,transaccio*,carrecs)>
<!ELEMENT estalvis ((saldo, interessos, transaccio*)|(saldo, transaccio*, interessos))>
<!ELEMENT saldo (#PCDATA)>
<!ELEMENT transaccio (#PCDATA)>
<!ELEMENT carrecs (#PCDATA)>
<!ELEMENT interessos (#PCDATA)>

