UF1/XML/practica_validacio/personas.dtd

<!ELEMENT personas (persona+)>
<!ELEMENT persona (nombre, nacimiento, direccion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT nacimiento (#PCDATA)>
<!ELEMENT direccion (calle, poblacion, provincia, cpostal, varios)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT cpostal (#PCDATA)>
<!ELEMENT varios EMPTY>